@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$gutter: 20px;
$default-font-size: 16px;
$max-size-screen: 1050px;
$medium-screen: 700px;

$check-fix: 4px;
$font-family: 'Arvo';

$task-border-color: #808080;
$button-color: #c5c5c5;
$tag-color: #dbd9ba;
$hover-menu: #a7a7a7;
$quantity-color: #cfcfcf;
